* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #333;
}

header,
main {
    max-width: 800px;
    padding: 1rem;
    margin: 40px auto;
}

header h4 {
    margin-top: 0.5rem;
}

header h4 {
    color: #9e1a60;
}

main {
    margin-top: 0;
    padding-top: 0;
    text-align: left;
}

main h3,
main h4,
main p {
    margin: 1rem 0;
}

main p:last-child {
    font-size: 0.6rem;
}

.logo {
    width: 256px;
    height: 256px;
    margin: 20px 5px auto;
    border-radius: 2rem;
}
